#nav {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

#nav.scrolled {
  background-color:#447CBE;
}
#link {
font-style: normal;
  color:#7FF4BC;
  ;
  font-size: 20px;
  transition: all 0.3s ease;
}
#link:hover {
  font-style: italic;
color:#dbffee;
  font-size: 27px;
}
